* {
    margin: 0;
    padding: 0;
    font-family: didot;
}

.list {
    float: right;
    margin-top: 15px;
}

.list ul {
    float: right;
    list-style-type: none;
    margin-top: 15px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
    opacity: 0.5;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/images/sell-background.jpeg');
    color: #fff;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    margin: 50px 0;
}

hr {
    margin: 15px auto;
    width:15%;
}

#map {
    height: 300px;
    width: 300px;
    margin: 10px auto;
}